// Import Bulma's core
@charset "utf-8";
@import "~bulma/sass/utilities/_all";

@import "twemoji-amazing.scss";

@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

$family-sans-serif: "Quicksand", sans-serif;
$family-primary: $family-sans-serif;

// Set your colors  
$primary: #1B1464;
$primary-invert: findColorInvert($primary);

$secondary: #2E3192;
$secondary-invert: findColorInvert($secondary);

$danger: #F02B5C;
$danger-invert: findColorInvert($danger);

$success: #22D56D;
$success-invert: findColorInvert($success);

$highlight: #97F2F1;
$highlight-invert: findColorInvert($highlight);

$lightblue: lighten($primary, 70%);
$lightblue-invert: findColorInvert($lightblue);

$lightblue-darker: lighten($primary, 65%);
$lightblue-darker-invert: findColorInvert($lightblue-darker);

$white: #FFF;
$black: #000;

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
    "white": ($white, $black),
    "black": ($black, $white),
    "light": ($light, $light-invert),
    "dark": ($dark, $dark-invert),
    "primary": ($primary, $primary-invert),
    "secondary": ($secondary, $secondary-invert),
    "highlight": ($highlight, $highlight-invert),
    "info": ($info, $info-invert),
    "success": ($success, $success-invert),
    "warning": ($warning, $warning-invert),
    "danger": ($danger, $danger-invert),
    "lightblue": ($lightblue, $lightblue-invert),
    "lightblue-darker": ($lightblue-darker, $lightblue-darker-invert)
);

// Links
$link: $secondary;
$link-invert: $secondary-invert;
$link-focus-border: $secondary;

$card-shadow: 0 0.5em 1em -0.125em rgba($primary, 0.1), 0 0px 0 1px rgba($primary, 0.02);

$body-overflow-y: auto;

// Make sure that window transparency is maintained
$body-background-color: none!important;

html {
    background-color: none!important;
}

.justify-content-center {
    justify-content: center;
}

@import "~bulma";
@import "~buefy/src/scss/buefy";