@import "custom/variables";

@import "twemoji-amazing.scss";

@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

body {
    font-family: "Quicksand", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100%;
    background-color: $gray-100;
}

